<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.RoleMapper">
    <sql id="roleFiled">
        id,
        role_name,
        role_code,
        description,
        create_time,
        update_time,
        is_deleted
    </sql>

    <select id="findAll" resultType="Role">
        SELECT
        <include refid="roleFiled"/>
        FROM
        acl_role
        WHERE
        is_deleted = 0
        ORDER BY update_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        acl_role(role_name, role_code, description)
        VALUES
        (#{roleName},#{roleCode},#{description})
    </insert>


    <select id="selectById" resultType="Role">
        SELECT
        <include refid="roleFiled"/>
        FROM
        acl_role
        WHERE
        is_deleted = 0 AND id=#{id}
    </select>

    <update id="update">
        UPDATE acl_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name=#{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code=#{roleCode},
            </if>
            <if test="description != null and description != ''">
                description=#{description},
            </if>
            update_time=now()
        </set>
        WHERE
        is_deleted = 0 AND id = #{id}
    </update>

    <update id="deleteById">
        UPDATE acl_role
        SET
        is_deleted=1,
        update_time=now()
        WHERE
        is_deleted = 0 AND id = #{id}
    </update>


    <sql id="findPageWhere">
        <where>
            is_deleted = 0
            <if test="roleName != null and roleName != ''">
                AND role_name LIKE CONCAT("%",#{roleName},"%")
            </if>
        </where>
    </sql>
    <select id="findPage" parameterType="map" resultType="role">
        SELECT
        <include refid="roleFiled"/>
        FROM
        acl_role
        <include refid="findPageWhere"/>
        ORDER BY update_time DESC
    </select>
    <select id="selectRoleByAdminId" resultType="role">
        SELECT
        <include refid="roleFiled"/>
        FROM
        acl_role
        WHERE
        id IN (
            SELECT
            role_id
            FROM
            acl_admin_role
            WHERE
            admin_id = #{adminId} AND acl_role.is_deleted = 0
        ) AND is_deleted = 0
    </select>


</mapper>