<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.DictMapper">

    <sql id="DictFiled">
        id ,parent_id ,name ,dict_code ,create_time ,update_time ,is_deleted
    </sql>

    <select id="findZnodeListByParentId" resultType="Dict">
        SELECT
        <include refid="DictFiled"/>
        FROM
        hse_dict
        <where>
            is_deleted = 0
            <if test="id != null and id >= 0">
                AND parent_id = #{id}
            </if>
        </where>
    </select>


    <select id="findAreaListByDictCode" resultType="Dict">
        SELECT
        <include refid="DictFiled"/>
        FROM
        hse_dict
        <where>
            is_deleted = 0
            <if test="code != null and code != ''">
                AND parent_id = (SELECT id FROM hse_dict WHERE dict_code = #{code} AND is_deleted = 0)
            </if>
        </where>
    </select>
</mapper>